body {
	background-color: #272822;
	font-family: Courier;
	margin: 0;
}

.lesson {
	background-color: #595959;
	color: #E6DB74;
	padding: 15px;
	margin: 45px 15px;
	border-radius: 10px;
}

.lesson-note {
	background-color: #383830;
	color: #A6E22E;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

.lesson-note-title {
	text-align: center;
}

.top {
	width: 100%;
	font-size: 25px;
	display: inline;
}

.emphasis {
	font-weight: bold;
	font-style: italic;
	color: #F92672;
}

h1 {
	text-align: center;
	font-size: 250%;
	color: #E6DB74;
	margin: 50px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a:link {
    color: #89BDFF;
}

a:visited {
    color: #F92672;
}

